@{
    ViewData["Title"] = "Skills and Qualifications";
}
<h1>@ViewData["Title"]</h1>

<ul>Python</ul>
<ul>Flask</ul>
<ul>JavaScript</ul>
<ul>React</ul>
<ul>React Native</ul>
<ul>C</ul>
<ul>HTML</ul>
<ul>CSS</ul>

